extends layout

block content
  img(src="/images/logof.png" width="18%")
  h1
    font(color="#1c1c1c") Federación Naciaonal de Arroceros
  h2
    font(color="#009b44") Servicio web en mantenimiento
  h3
    font(color="#b8b12d")