extends layout

block content
  img(src="/images/logo.png" width="50%")
  h2
    font(color="#1c1c1c") Servicio climático en mantenimiento
  h3
    font(color="#b8b12d") >> Enlaces de interés climático <<
  h5
    a(href="http://186.113.27.173:3838/sample-apps/VizPredClimApp/" target="_blank")
      font(color="#8ca590") - Predicción climática -
  h5
    a(href="http://186.113.27.173:3838/sample-apps/AppRedFedea/" target="_blank")
      font(color="#8ca590") - Red de monitoreo agroclimático -
  h5
    a(href="http://186.113.27.173:3838/sample-apps/indicadoresrachas/" target="_blank")
      font(color="#8ca590") - Variabilidad climática -
  h5
    a(href="http://186.113.27.173:3838/sample-apps/indicadoresrachas/" target="_blank")
      font(color="#8ca590") - Indicadores climáticos -
  h5
    a(href="https://public.tableau.com/app/profile/francisco.javier.hernandez.guzman/viz/Climatologias_Nacional_IDEAM/Climatologia_Nal?publish=yes" target="_blank")
      font(color="#8ca590") - Climatologia -
  h5
    a(href="http://186.113.27.173:3838/sample-apps/indicadoresrachas/" target="_blank")
      font(color="#8ca590") - Pronósticos agroclimáticos -
